body {
    background-color: #eee;
}

form.signin {
    width: 300px;
    margin: 50px auto;
}

form.signin input.form-control {
    margin-bottom: 5px;
}

form.signin input.btn {
    margin-top: 15px;
}

form.wall_post {
    width: 500px;
    margin: 10px auto;
}
form.wall_post input.btn {
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


div.post {
    border: 1px solid #000;
    margin: 10px auto;
    width: 500px;
    padding: 5px;
}

h2 {
    margin: 10px auto;
    text-align: center;
    padding: 20px;

}

div#logout {
    float: right;
}

form.input[type="radio"] {
    margin-right: 20px;
}

#form_ratings {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
}

form h3 {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}