<html>
    <head>
        {% extends 'master.html' %}

    {% block body %}
    <a href="/logout">Log out</a> | <a href="/">All Users</a> | <a href="/movies">Movies</a> | <a href="{{home}}">Home</a>
    <h1>{{movie.name}}<br><small>Average Rating: {{average|round(1,"common")}}</small></h1>
    <div id="prediction">
    {% if prediction %}
    <h3>We predict you will rate this movie {{prediction|round(1,"common")}}.</h3>
    {% endif %}
    </div>
    
    <div id="the_eye">
       <h3><small>The Eye says,"{{beratement}}"</small></h3>
    </div>
    <div id="prediction">
    {% if user_rating %}
    <h3>You have rated this movie {{user_rating.rating}}.</h3>
    {% endif %}
    </div>
        
        <div class="container">
            <form class="signin" method="post">
                <h3>Seen it? Rate it</h3>
                    <ul>
                    {% for message in get_flashed_messages() %}
                        <li>{{message}} </li>
                    {% endfor %}
                </ul>
                    <div id="form_ratings">
                        <label for="1">1</label>
                        <input type="radio" value="1" name="rating">
                        <label for="2">2</label>
                        <input type="radio" value="2" name="rating">
                        <label for="3">3</label>
                        <input type="radio" value="3" name="rating">
                        <label for="4">4</label>
                        <input type="radio" value="4" name="rating">
                        <label for="5">5</label>
                        <input type="radio" value="5" name="rating">
                    </div>
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </form>
        </div>
        <div>
            {% for rating in movie.ratings %}
                <p><strong><a href="/user/{{rating.user.id}}">User {{ rating.user.id}}</a></strong>
                    <br>
                Rating: {{ rating.rating}}
                </p>
               
            {% endfor %}


        </div>

    {% endblock %}

</html>
