<html>
    <head>
        {% extends 'master.html' %}
        <title>Secretly Judging You, Movie</title>
    </head>
    <body>
        {% block body %}
        <div class="container">
            <form class="signin" method="POST">
                <h2 class="signin-heading">Register a new account</h2>
                    <ul>
                        {% for message in get_flashed_messages() %}
                            <li>{{message}} </li>
                        {% endfor %}
                    </ul>
                <input type="email" class="form-control" placeholder="Email Address" name="email"><br>
                <input type="password" class="form-control" placeholder="Password" name="password"><br>
                <input type="password" class="form-control" placeholder="Password" name="password_verify"><br>
                <input type="submit" class="btn-lg btn-primary btn-block" value="Submit">
            </form>
        </div>
    {% endblock %}
    </body>
</html>